.user_img {
    margin-top: 80px;
}








/* .left_menu {
    position: absolute;
    display: block;
    top: 70px;
    left: 0;
    width: 50px;
    height: auto;
    opacity: 0.5;
    padding: 0;
    transition: width 700ms, opacity 700ms;
} */

/* 
.lk_content {
    position: relative;
    left: 20%;
    margin-top: 80px;
    padding-right: 100px;
    text-align: center;
} */
/* 
.left_menu:hover {
    width: 150px;
    opacity: 1;
} */
